*headingFont: -*-inputmono-bold-r-*-*-*-100-*-*-*-*-iso8859-16


Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.antialias: 1
Xft.dpi: 96

URxvt.perl-ext-common: default,matcher,url-select
! URxvt.url-launcher: firefox
! URxvt.matcher.button: 1

URxvt.url-select.launcher: firefox
URxvt.url-select.underline: true
URxvt.keysym.M-u: perl:url-select:select_next

Xcursor.theme: Neutral

! Colour Scheme
#include "/home/jbolila/.config/termcolours/solarized"

! URXvt Options
URxvt.depth: 32
URxvt.scrollstyle: plain
URxvt.scrollBar_right: true
URxvt.scrollColor: #839496

! URxvt.letterSpace: -1

URxvt.font: xft:Sauce Code Powerline:style=Regular:size=9, xft:DejaVu Sans Mono for Powerline:size=8.5
URxvt.boldFont:  xft:Sauce Code Powerline:style=Bold:size=9, xft:DejaVu Sans Mono for Powerline:size=8.5
URxvt.italicFont: xft:Input Mono:style=Italic:size=9, xft:DejaVu Sans Mono for Powerline:size=8.5
URxvt.boldItalicFont: xft:Input Mono:style=Bold Italic:size=9, xft:DejaVu Sans Mono for Powerline:size=8.5
