Xft.dpi: 96
Xcursor.theme: Neutral

! Colour Scheme
#include "/home/jbolila/.config/termcolours/jellybeans"

! URXvt Options
URxvt.depth: 32
URxvt.scrollstyle: plain
URxvt.letterSpace: -1

URxvt.font: xft:Inconsolata\\-g:style=g:size=8.5, xft:DejaVu Sans Mono:size=8.5
URxvt.boldFont:  xft:Inconsolata\\-g:style=g:size=8.5, xft:DejaVu Sans Mono:size=8.5
URxvt.italicFont: xft:Inconsolata\\-g:style=g:size=8.5, xft:DejaVu Sans Mono:size=8.5
URxvt.boldItalicFont: xft:Inconsolata\\-g:style=g:size=8.5, xft:DejaVu Sans Mono:size=8.5
