Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.antialias: 1
Xft.dpi: 96

Xcursor.theme: Neutral

! Colour Scheme
#include "/home/jbolila/.config/termcolours/jellybeans"

! URXvt Options
URxvt.depth: 32
URxvt.scrollstyle: plain
URxvt.scrollBar_right: true
URxvt.scrollcolor: #799D6A

URxvt.letterSpace: -1

URxvt.font: xft:Inconsolata_g_Powerline\\-g:style=g:size=8.5, xft:DejaVu Sans Mono for Powerline:size=8.5
URxvt.boldFont:  xft:Inconsolata_g_Powerline\\-g:style=g:size=8.5, xft:DejaVu Sans Mono for Powerline:size=8.5
URxvt.italicFont: xft:Inconsolata_g_Powerline\\-g:style=g:size=8.5, xft:DejaVu Sans Mono for Powerline:size=8.5
URxvt.boldItalicFont: xft:Inconsolata_g_Powerline\\-g:style=g:size=8.5, xft:DejaVu Sans Mono for Powerline:size=8.5
